.Projects {
  height: 80vh;
  padding: 20px 20px;
  font-size: 1.2rem;
  text-align: left;
  display: flex;
  flex-wrap: wrap;
}

@media all and (min-width: 481px) and (max-width: 979px) {
  .Projects {
    overflow-y: scroll;
  }
}

@media all and (max-width: 480px) {
  .Projects {
    overflow-y: scroll;
  }
}
