.Container {
  text-align: center;
}

.Projects {
  height: auto;
  padding: 10px 100px;
  font-size: 1.2rem;
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

h2 {
  font-size: 20px;
}

@media all and (max-width: 1180px) {
  .Projects {
    padding: 10px 50px;
  }
}

@media all and (max-width: 800px) {
  .Projects {
    padding: 10px 10px;
  }
}
