$themeMainColour: rgb(16, 166, 204);

button {
  border: 1px solid #00000027;
  border-radius: 20px;
  background-color: #fff;
  font-size: 1.1rem;
  padding: 10px 0px;

  &:first-child {
    margin-right: 20px;
  }

  &:hover {
    background: $themeMainColour;
  }

  a,
  a:active {
    text-decoration: none;
    color: black;
    padding: 20px 40px;
    width: 100%;

    &:hover {
      color: #fff;
    }
  }
}
