$themeMainColour: rgb(16, 166, 204);

button {
  border: 1px solid #00000027;
  border-radius: 20px;
  background-color: #fff;
  font-size: 1.1rem;
  padding: 10px 0px;

  &:first-child {
    margin-right: 20px;
  }

  &:hover {
    background: $themeMainColour;
  }

  a,
  a:active {
    text-decoration: none;
    color: black;
    padding: 20px 40px;
    width: 100%;

    &:hover {
      color: #fff;
    }
  }
}

@media all and (min-width: 481px) and (max-width: 979px) {
  button {
    border: 1px solid #00000027;
    border-radius: 20px;
    background-color: #fff;
    font-size: 1.0rem;
    padding: 5px 0px;

    a,
    a:active {
      padding: 20px 40px;
    }
  }
}

@media all and (max-width: 480px) {
  button {
    border: 1px solid #00000027;
    border-radius: 20px;
    background-color: #fff;
    padding: 5px 0px;
    font-size: 12px;

    a,
    a:active {
      padding: 10px 20px;
    }
  }
}