$themeMainColour: rgb(16, 166, 204);

button {
  border-radius: 20px;
  background-color: #fff;
  font-size: 14px;
  padding: 5px 0px;

  &:first-child {
    margin-right: 20px;
  }

  &:hover {
    background: $themeMainColour;
  }

  a,
  a:active {
    text-decoration: none;
    color: black;
    padding: 20px 40px;
    width: 100%;

    &:hover {
      color: #fff;
    }
  }
}

.customButton  {
  border: 1px solid rgba(0,0,0,.15);
  background-color: #fff;
  border-radius: 20px;
  font-size: 14px;
  padding: 5px 40px;
  text-decoration: none;
  color: black;
  

  &:first-child {
    margin-right: 20px;
  }

  &:hover{
    color: #fff;
    background: $themeMainColour;
  }
}

@media all and (min-width: 481px) and (max-width: 979px) {
  button {
    border: 1px solid #00000027;
    border-radius: 20px;
    background-color: #fff;
    font-size: 10px;
    padding: 5px 0px;

    a,
    a:active {
      padding: 20px 40px;
    }
  }
  .customButton {
    font-size: 10px;
  }
}

@media all and (max-width: 480px) {
  button {
    border: 1px solid #00000027;
    border-radius: 20px;
    background-color: #fff;
    padding: 5px 0px;
    font-size: 10px;

    a,
    a:active {
      padding: 10px 20px;
    }
  }

  .customButton {
    padding: 10px;
  }
}
