$themeMainColour: rgb(16, 166, 204);

.Container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  top: 0;
  left: 0;
  height: auto;

  .Waves {
    width: 100%;
    height: 200px;
  }

  .Banner {
    display: flex;
    flex-direction: row;
    background: #e7fcfd;
    padding: 100px 100px;
    height: auto;

    section {
      display: flex;
      text-align: left;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      height: 330px;
      width: 60%;

      &:last-child {
        width: 40%;
      }
    }

    .Title {
      margin-bottom: 20px;
      width: 100%;
      font-size: 30px;
      font-weight: 100;
      font-family: Arial, Helvetica, sans-serif;
      color: $themeMainColour;
    }

    .Subtitle {
      margin-bottom: 20px;
    }

    p {
      margin-bottom: 20px;
      color: black;
      text-align: left;
      width: 100%;
    }

    .Links {
      display: flex;
      flex-direction: row;
    }
  }
}

@media all and (max-width: 950px) {
  .Container {
    height: 100vh;

    .Banner {
      padding: 50px 50px;

      section {
        width: 100%;

        &:last-child {
          display: none;
        }
      }
    }
  }
}


@media all and (max-width: 800px) {
  .Container {
    .Waves {
      width: 100%;
      height: 50px;
    }

    .Banner {
      flex-direction: column;
      padding: 0;

      section {
        width: 100%;
        padding: 50px 10px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        height: auto;

        &:last-child {
          display: none;
        }
      }

      .Title {
        font-size: 20px;
      }

      .Subtitle {
        font-size: 14px;
      }

      p {
        font-size: 12px;
      }
    }
  }
}
