$themeMainColour: rgb(16, 166, 204);
.Project {
  border: 3px solid #000;
  border-radius: 10px;
  margin: 10px 15px;
  padding: 20px 40px;
  font-size: 1.2rem;
  text-align: justify;
  width: 500px;
  min-height: 400px;

  h3 {
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 2px solid #000;
    color: $themeMainColour;
  }

  h4 {
    margin-bottom: 20px;
    margin-top: 20px;
  }

  p  {
    padding: 20px 0px 20px 0px;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
  }
  li {
    padding: 0 10px;
  }
  a:active,
  a {
    text-decoration: none;
    color: #000;
  }
  a:hover {
    color: $themeMainColour;
  }
}

.Link {
  padding: 5px 10px;
  border: 2px solid #000;
  border-radius: 20px;

  &:hover {
    border: 2px solid $themeMainColour;
  }
}

@media all and (min-width: 481px) and (max-width: 979px) {
  .Project {
    padding: 20px 40px;
    font-size: 1rem;
  }
}

@media all and (max-width: 480px) {
  .Project {
    padding: 20px 40px;
    font-size: 0.9rem;
  }
}
