$themeMainColour: rgb(16, 166, 204);
$themeMainColourDarker: rgb(8, 87, 107);
.Project {
  border: 1px solid #00000027;
  border-radius: 10px;
  margin: 10px 15px;
  padding: 20px 40px;
  font-size: 1.2rem;
  width: 500px;
  min-height: 400px;

  h3 {
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #00000027;
    color: $themeMainColour;
  }

  h4 {
    margin-bottom: 20px;
    margin-top: 20px;
  }

  h5 {
    margin-bottom: 20px;
    margin-top: 20px;
  }

  p  {
    padding: 20px 0px 20px 0px;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
  }
  li {
    padding: 0 10px;
  }
  a:active,
  a {
    text-decoration: none;
    color: #000;
  }
  a:hover {
    color: $themeMainColour;
  }
}

.Link {
  padding: 10px 10px;
  border: 1px solid #00000027;
  border-radius: 20px;
  color: #fff !important;
  background: $themeMainColour;
  color: #fff;

  &:hover {
    border: 1px solid $themeMainColourDarker;
    background: $themeMainColourDarker;
    color: #fff !important;
  }
}

@media all and (min-width: 481px) and (max-width: 979px) {
  .Project {
    padding: 20px 40px;
  }
}

@media all and (max-width: 480px) {
  .Project {
    padding: 20px 40px;
    font-size: 1rem;
  }
}
