.navigation {
  padding: 0px 100px;
  height: 7vh;
  display: flex;
  flex-wrap: wrap;

  .navigationLeft {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 50%;

    .logoLink {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;

      img {
        position: relative;
        left: -20px;
        width: 130px !important;
        height: 30px !important;
        border: none;
      }

      border: none;
    }

    a {
      position: relative;
      z-index: 9999;
      color: black;
      font-family: "Roboto", sans-serif;
      text-decoration: none;
    }
  }

  .navigationRight {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    width: 50%;
  }

  span {
    padding-left: 10px;
    color: white;
  }

  img {
    margin-left: 20px;
    border: 1px solid #999;
    border-radius: 5px;
    width: 40px;
    height: 40px;
  }

  ul {
    position: relative;
    z-index: 9999;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    list-style: none;

    li {
      margin: 20px;
    }

    a {
      text-decoration: none;
      color: black;
      cursor: pointer;

      &:hover {
        color: #0094b6;
        border-bottom: 2px solid red;
      }
    }
  }
}

@media all and (max-width: 950px) {
  .navigation {
    padding: 0 50px;
  }
}

@media all and (min-width: 481px) and (max-width: 800px) {
  .navigation {
    padding: 0 10px;
  }
}

@media all and (max-width: 480px) {
  .navigation {
    font-size: 12px;
    padding: 0px 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    .navigationLeft {
      width: 15%;
    }

    .navigationRight {
      justify-content: flex-end;
      width: 85%;

      nav {
        ul {
          li {
            width: auto;
            font-size: 10px;
            margin: 0px 5px;
          }
        }
      }
    }
  }
}
