.Footer {
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 7vh;
  background: #000046; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #1cb5e0,
    #000046
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #1cb5e0,
    rgb(8, 87, 107)
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  .Heart {
    padding: 0px 5px 0px 5px;
  }

  section {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    color: white;
    padding: 0px 100px;
    height: 100%;

    a {
      i {
        margin: 0 20px;

        svg {
          height: 20px;
          width: 20px;
        }

        color: white;
      }
    }
  }
}

@media all and (min-width: 481px) and (max-width: 979px) {
  .Footer {
    section {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 50%;
      padding: 0;
      margin: 0;
      font-size: 18px;

      .Heart {
        padding: 0px 2px 0px 5px;
      }

      a {
        i {
          height: 20px;
          width: 20px;
          margin: 0 20px;
          color: white;
        }
      }
    }

    span {
      &:first-child {
        padding-left: 40px;
      }
    }
  }
}

@media all and (max-width: 480px) {
  .Footer {
    section {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 50%;
      padding: 0;
      margin: 0;
      font-size: 8px;

      .Heart {
        padding: 0px 2px 0px 5px;
      }

      a {
        i {
          height: 20px;
          width: 20px;
          margin: 0 10px;
          color: white;
        }
      }
    }

    span {
      &:first-child {
        padding-left: 20px;
      }
    }
  }
}
