.Footer {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 8vh;
  background: rgb(59, 59, 59);

  span {
    color: white;

    &:first-child {
      padding-left: 100px;
      padding-right: 5px;
    }
  }
}
