.Container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  top: 0;
  left: 0;
  height: auto;

  .Reference {
    height: 80vh;
    width: auto;
    padding: 20px 100px 40px 100px;
    font-size: 1.2rem;
    text-align: left;

    pre {
      font-size: 12px;
      border: 1px solid #000;
    }

    h1 {
      margin-top: 20px;
      margin-bottom: 20px;
      font-size: 30px;
    }

    h2 {
      margin-bottom: 20px;
      margin-top: 20px;
      font-size: 20px;
    }

    h3 {
      font-size: 17px;
    }

    h4 {
      font-size: 20px;
    }

    iframe {
      width: 90%;
      height: 500px;

      &:last-child {
        margin-bottom: 50px;
      }
    }

    p {
      font-size: 14px;
    }

    code {
      font-size: 14px;
    }
  }
}

@media all and (max-width: 950px) {
  .Container {
    .Reference {
      height: auto;
      padding: 20px 50px;
      font-size: 1.2rem;
      text-align: left;

      pre {
        width: auto;
      }

      code {
        font-size: 12px;
      }
    }
  }
}

@media all and (max-width: 800px) {
  .Container {
    .Reference {
      padding: 20px 10px;
    }
  }
}

@media all and (max-width: 480px) {
  .Container {
    .Reference {
      height: auto;
      padding: 20px 10px;
      font-size: 1.2rem;
      text-align: left;
      width: 96%;

      h1 {
        font-size: 22px;
      }

      h2 {
        font-size: 18px;
      }

      h3 {
        font-size: 14px;
      }

      h4 {
        font-size: 17px;
      }

      p {
        font-size: 12px;
      }

      code {
        font-size: 10px;
      }

      pre {
        width: 98%;
      }
    }
  }
}
