.Container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  top: 0;
  left: 0;
  height: auto;

  .Reference {
    height: 80vh;
    padding: 20px 40px 40px 100px;
    font-size: 1.2rem;
    text-align: left;

    pre {
      background: #e7fcfd1a;
      padding: 20px;
      font-size: 12px;
    }

    h3 {
      margin-top: 20px;
      margin-bottom: 20px;
    }

    h4 {
      margin-bottom: 20px;
      margin-top: 20px;
    }

    iframe {
      width: 90%;
      height: 500px;

      &:last-child {
        margin-bottom: 50px;
      }
    }

    span {
      font-size: 14px;
    }
  }
}

@media all and (min-width: 481px) and (max-width: 979px) {
  .Reference {
    height: auto;
    padding: 20px 20px;
    font-size: 1.2rem;
    text-align: left;
    width: 100%;
  }
}

@media all and (max-width: 480px) {
  .Reference {
    height: auto;
    padding: 20px 20px;
    font-size: 1.2rem;
    text-align: left;
    width: 100%;
  }
}
